# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
**/*/__pycache__

# Serverless directories
.serverless
.requirements

# Virtual environment
mmm/

# NPM
node_modules/*
!node_modules/serverless-lex-deploy/
package-lock.json

# Etc
.idea

# Temporary codes
temp/
